.top-banner {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  img {
    width: 720px;
    height: 120px;
    border-radius: 5px;
  }
}

.search-wrapper {
  background-color: white;
  position: sticky;
  top: 60px;
  display: flex;
  height: 90px;
  align-items: center;
  justify-content: center;
  z-index: 100;
  .result-total {
    width: 150px;
    height: 50px;
    text-align: center;
    border: 1px solid lightgray;
    font-size: 14px;
    line-height: 50px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}

.core-body {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  h1 {
    font-size: 22px;
  }
}