.please-login {
  text-decoration: underline;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  transform: translateY(200px);
}

.publish-page {
  margin-top: 100px;
  .ant-form {
    .ant-btn {
      display: block;
      margin: auto;
    }
  }
}